// 自定义样式覆写element样式
// 主体背景色#f9f6f6 ，菜单栏背景色#f3f3f3，当前选中菜单rgb(187, 187, 187)，菜单项#e6e3e3
.el-button{
  height: 36px;
  padding: 8px 16px;
}
.el-icon{
  margin-right: 5px;
}
.cell .el-button{
  height: 36px;
  padding: 0;
}
.right-btn {
  margin-left: 20px;
}
.el-form-item__label {
  line-height: 36px;
}

:deep(.el-card) {
  background-color: #f3f3f3 !important;
}

:deep(.content .el-table__body .el-table__row .el-table__cell:first-child){
  border-left: 1px solid #ebeef5;
}
:deep(.content .el-table__body .el-table__row .el-table__cell:last-child){
  border-right: 1px solid #ebeef5;
}
:deep(.el-table__empty-text) {
  width: calc(100% - 2px);
  border-left: 1px solid #ebeef5;
  border-right: 1px solid #ebeef5;
}
:deep(.el-form--inline .el-form-item) {
  margin-bottom: 10px;
  margin-right: 10px;
}

:deep(.el-table .el-table__header-wrapper th) {
  word-break: break-word;
  background: #f8f8f9 !important;
  color: #515a6e !important;
  height: 40px;
  font-size: 13px;
}
